body{
    background-image: url(http://static.zerochan.net/Yu-Gi-Oh!.ZEXAL.full.2067483.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
 div.recapito{
    background-color: darkslateblue;
    position: sticky;
    top: 0px;
    margin-right: 75%;
    height: 75px;
    border: 2px solid black;
    border-radius: 5px;
 }
 .link{
    height: 50px;
    width: 50px;
    float: right;
    border: 1px solid black;
    border-radius: 5px;
    margin-right: 10px;
 }


#cardmarket{
    height: 50px;
    width: 50px;
    float: right;
    display: none;
}
#vinted{
    height: 50px;
    width: 50px;
    float: right;
    display: none;
    margin-right: 10px ;
}

h1.recapito{
    text-align: center;
    font-size: 100%;
    zoom: 100%;
}
button#referalLink{
    margin-top: 3%;
    background-color: rgb(12, 115, 240);
    border-radius: 5px;
    font-weight: bold;
    
}
div.testata {
    margin-left: 20%;
    margin-right: 20%;
    height: 200%;
} 
div.firstTitle{
    background-color: darkslateblue;
}
h1.testata{ 
    text-align: center; 
    zoom: 100%;
    background-color: darkslateblue;
    margin-top: 40px;
    border: 2px solid black;
    border-radius: 5px;
}

h2.testata{
    text-align: center;
    background-color: darkslateblue;
    border: 2px solid black;
    border-radius: 5px 10px;
}  
 
div.contenitore{ 
    display: flex; gap: 50px;
}    

.articolo {
    border: 2px solid black;
    height: 400px;
    width: 200px; 
    display: flex;
    flex-direction: column;
    min-width: 200px;
}
.fotoCarta{
    height: 500px;
    margin: auto;
    width: 80%; 
    object-fit: contain;
    margin-bottom: 5%;
}
div.articolo:hover{
    box-shadow: 3px 3px 3px 3px;
    background-color: darkslateblue;
}
.testata:hover{
    background: none;
}
.prezzi{
    text-align: center;
    font-weight: bold;
    font-size: larger;
    background-color: rgb(50, 40, 110);
    border-radius: 3px;
    margin-left: 10%;
    margin-right: 10%;
    border: 1px solid black;
    margin-bottom: 2%;
}
button:hover{
    box-shadow: 1px 1px 1px 1px;
    
}
button:active{
    background-color: rgb(32, 24, 83);
  box-shadow: 0 1px #666;
  transform: translateY(1px);
}

